body {
    background-color: #181818;
    color: #f1f1f1;
  }
  
  .card {
    background-color: #282828;
    color: #f1f1f1;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  }
  
  .list-group-item {
    background-color: #282828;
    border: none;
    color: #f1f1f1;
  }
  
  .copy-btn {
    margin-left: 1rem;
  }
  
  .btn-custom {
    background-color: #20c997;
    border-color: #20c997;
    color: #fff;
  }
  
  .btn-custom:hover {
    background-color: #17a592;
    border-color: #17a592;
  }
  